<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <title>Taller Bikepro</title>
</head>

<body>
    <div class="contact">
        <p>Buenaventura - Colombia</p>
        <p>3116036787</p>
    </div>
    <nav class="nav">
        <img src="https://f.fcdn.app/imgs/2da621/bikeup.uy/bikeuy/691f/original/marcas/haojue/0x0/haojue" alt="akt">
        <ul class="first-menu">
            <li class="btn-services">Servicio tecnico</li>
            <div class="modal-service">
                <ul>
                    <h3>Post Ventas</h3>
                    <li>Citas</li>
                    <li>Manuales</li>
                    <li>Revisones</li>
                    <li>Garantias</li>
                </ul>
                <div class="content-camp">
                    <h3>Campañas Vigentes</h3>
                    <div>
                        <img src="./assets/img/campaña1.png" alt="campaña1">
                        <img src="./assets/img/campaña2.png" alt="campaña2">
                    </div>

                </div>
            </div>
            <li>Repuestos</li>
            <li>Accesorios</li>
        </ul>

        <!-- <div class="modal-respuesto">

        </div>
        <div class="modal-accesorio">

        </div> -->
    </nav>
    <section>
        <aside>

        </aside>
    </section>
</body>

</html>